.fund-table {
  background: linear-gradient(45deg, #5696ef, #8e58b1);
}

.fund-table__container {
  display: flex;
  justify-content: center;
}

/* Note: Classes could be nested if using CSS preprocessor, see TODO in code-challenge-notes */
.fund-table thead {
  background-color: #4f598b;
}

.fund-table th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.391);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
