.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid grey;
  margin-bottom: 10px
}

.nav-bar__img {
  height: 50px;
}

.nav-bar__link-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
