* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 14px  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  color: rgb(0, 0, 0, 1);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0, 1);
}

a:hover {
  color: rgb(0, 123, 255);
}